html {
  background-color: rgb(249, 196, 105);
}
body {
  margin: 10px 15%;
  padding: 2% 1%;
  width: 70%;
  background-color: rgb(236, 242, 202);
  border-radius: 1%;
  box-shadow: 12px 12px 12px grey;
}

div.board {
  width: 45%;
  /* margin-left: 6%; */
  padding: 10px;
  height: 610px;
  background: url('https://st.hzcdn.com/simgs/2e21a38a0655ed73_4-5711/home-design.jpg');
  border-radius: 3%;
  box-shadow: 8px 8px 5px grey;
}

div.row {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

div.code {
  border: 1px solid black;
  border-radius: 10px;
  background: skyblue;
}

div.code_pegs {
  margin-top: 20px;
  margin-left: 6%;
}

.inactive {
  opacity: 0.5;
}

.check_btn {
  font-size: 16px;
  margin-right: 60px;
  margin-top: 14px;
}

.instruction_heading {
  font-weight: bold;
  font-size: 20px;
}

.instruction_image {
  vertical-align: middle;
  margin-right: 10px;
}

.instruction_text {
  font-size: 18px;
}

.main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instruction_container{
  width: 300px;
  border: 2px solid deepskyblue;
  padding: 20px;
  margin-left: 30px;
  border-radius: 7px;
}